body {
	background-color: #2A2C6C;
	margin-bottom: 20px;
}
.resumeheader {
	background-color: #E18955;
	height: 340px;
	width: 100%;
	margin: -8px;
	position: absolute;
	overflow: hidden;
	border: none;
}
.resumebody {
	position: absolute;
	margin: -8px;
	margin-top: 340px;
	height: 100%;
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
